alias aliases="vim ~/.dotfiles/.aliases"

# Navigation and Listing
alias ls="ls -CF"
alias ls1="ls -1F"
alias ll="ls -lhA"
alias ..="cd .."
alias fhere="find . -name "
alias sites="cd ~/Sites"

# Git
alias gl="git log"
alias ga="git add"
alias gs="git status"
alias gaa="git add ."
alias gc="git commit -m"
alias gf="git fetch --all"
alias gcw="git commit -m 'wip'"
alias gb="git checkout -b"
alias nah="git reset --hard && git clean -df"
alias wip="git add --all  && git commit -m 'wip'"

# Laravel
alias artisan="php artisan"
alias p="vendor/bin/phpunit"
alias test="php artisan test"
alias tinker="php artisan tinker"
alias horizon="php artisan horizon"
alias m="php artisan migrate"
alias mf="php artisan migrate:fresh"
alias mfs="php artisan migrate:fresh --seed"

# Global Package Managers
alias ugpm="brew update && composer self-update && npm install -g npm"
alias ugp="brew upgrade && composer global upgrade && npm update --global"

# Config Files
alias hosts="sudo vim /etc/hosts"
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias nginxconfig="vim /usr/local/etc/nginx/nginx.conf"
alias apacheconfig="vim /usr/local/etc/httpd/httpd.conf"

# Miscellaneous
alias mkdir="mkdir -pv"
alias fcl="fortune | cowsay | lolcat"
